body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: lightgray;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;

}
ul{
    padding: 0;
    margin: 0;

}
header{
    background: grey;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: brown solid 5px;

}
header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding{
    float: left;
}
header #branding h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 10px;
}
header .highlight,header .current a{
    color:brown;
    font-weight: bold;
}
header a:hover{
    color:blueviolet;
    font-weight: bold;
}
#showcase{
    min-height: 400px;
    background:url('../images/myimage.jpg') no-repeat ;
    background-size: cover;
    text-align: center;
    color:red;
    
}
#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}
#showcase p{
    font-size: 20px;
}
#newsletter{
    padding: 15px;
    color:aquamarine;
    background:lightcoral;
}
#newsletter form{
    float: right;
    margin-top: 15px;
}
#newsletter h1{
    float: left;
}
#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}
.button_1{
    height: 38px;
    background:lightskyblue;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-size: 15px;
}
#boxes{
    margin-top: 20px;
}
#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}
#boxes .box img{
    width: 90px;
}
aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}
article#main-col{
    float:left;
    width: 65%;
}
.dark{
    padding: 15px;
    background: darkgrey;
    color: brown;
    margin-top: 10px;
    margin-bottom: 10px;
}
ul#services li{
    list-style: none;
    padding: 20px;
    border:burlywood solid 1px;
    margin-bottom: 5px;
    background:lavenderblush;
}
aside#sidebar .quote input,aside#sidebar .quote textarea{
    width: 90%;
    padding: 5px;
}
footer{
    padding: 20px;
    margin-top: 20px;
    color: black;
    background-color:darkseagreen;
    text-align: center;
    font-size: medium;
}